# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# ctags
tags
.tags

# vim
*.swp

# coc
.clangd
compile_commands.json
.cache

*.user
dohclient
windows/Debug
windows/Release
windows/x64

windows/openssl

