
config cfg
	option bind_addr '127.0.0.1'
	option bind_port '53'
	option chnroute '/etc/dohclient/chnroute.txt,/etc/dohclient/chnroute6.txt'
	option timeout '30'
	option log_file '/var/log/dohclient.log'
	option log_level '5'
	option proxy '127.0.0.1:1080'
	option dns_server 'https://dns.google/dns-query'
	option dns_timeout '5'
