
config cfg
	option bind_addr '127.0.0.1'
	option bind_port '53'
	option chnroute '/etc/dohclient/chnroute.txt,/etc/dohclient/chnroute6.txt'
	option timeout '30'
	option log_file '/var/log/dohclient.log'
	option log_level '5'
	option proxy '127.0.0.1:1080'
	option channel 'doh'
	option channel_args 'addr=223.5.5.5:443&host=dns.alidns.com&path=/dns-query&proxy=0&ecs=1&china-ip4=223.5.5.5/24&china-ip6=2400:3200::1/32&foreign-ip4=8.8.8.8/24&foreign-ip6=2001:df2:8300::/48'
