
config cfg
	option bind_addr '127.0.0.1'
	option bind_port '5354'
	option chnroute '/etc/dohclient/chnroute.txt,/etc/dohclient/chnroute6.txt'
	option timeout '10'
	option cache_timeout '1'
	option cache_api '0'
	option wwwroot '/etc/dohclient/wwwroot/'
	option log_file '/var/log/dohclient.log'
	option log_level '5'
	option proxy '127.0.0.1:1080'
	option mode '1'
	option channel 'chinadns'
	option channel_args 'chndoh.name=AliDNS&chndoh.channel=udp&chndoh.addr=223.5.5.5:53&frndoh.name=GoogleDNS&frndoh.channel=doh&frndoh.addr=8.8.8.8:443&frndoh.host=dns.google&frndoh.path=/dns-query&frndoh.resolve=0&frndoh.proxy=1&frndoh.ecs=1&frndoh.net=8.8.0.0/24&frndoh.net6=2001:19f0:6401::/48'
